img[src="//theme.webme.com/smiles/wink.gif"] {
    background: rgba(0, 0, 0, 0) url("http://i45.tinypic.com/33fdf6p.jpg") no-repeat scroll 0 0;
    height: 0;
    padding: 12px;
    width: 0;
}
img[src="//theme.webme.com/smiles/smiley.gif"] {
    background: rgba(0, 0, 0, 0) url("http://i45.tinypic.com/33fdf6p.jpg") no-repeat scroll -24px 0;
    height: 0;
    padding: 12px;
    width: 0;
}
img[src="//theme.webme.com/smiles/cheesy.gif"] {
    background: rgba(0, 0, 0, 0) url("http://i45.tinypic.com/33fdf6p.jpg") no-repeat scroll -48px 0;
    height: 0;
    padding: 12px;
    width: 0;
}
img[src="//theme.webme.com/smiles/angry.gif"] {
    background: rgba(0, 0, 0, 0) url("http://i45.tinypic.com/33fdf6p.jpg") no-repeat scroll -72px 0;
    height: 0;
    padding: 12px;
    width: 0;
}
img[src="//theme.webme.com/smiles/sad.gif"] {
    background: rgba(0, 0, 0, 0) url("http://i45.tinypic.com/33fdf6p.jpg") no-repeat scroll 0 -24px;
    height: 0;
    padding: 12px;
    width: 0;
}
img[src="//theme.webme.com/smiles/shocked.gif"] {
    background: rgba(0, 0, 0, 0) url("http://i45.tinypic.com/33fdf6p.jpg") no-repeat scroll -24px -24px;
    height: 0;
    padding: 12px;
    width: 0;
}
img[src="//theme.webme.com/smiles/cool.gif"] {
    background: rgba(0, 0, 0, 0) url("http://i45.tinypic.com/33fdf6p.jpg") no-repeat scroll -48px -24px;
    height: 0;
    padding: 12px;
    width: 0;
}
img[src="//theme.webme.com/smiles/huh.gif"] {
    background: rgba(0, 0, 0, 0) url("http://i45.tinypic.com/33fdf6p.jpg") no-repeat scroll -72px -24px;
    height: 0;
    padding: 12px;
    width: 0;
}
img[src="//theme.webme.com/smiles/rolleyes.gif"] {
    background: rgba(0, 0, 0, 0) url("http://i45.tinypic.com/33fdf6p.jpg") no-repeat scroll 0 -48px;
    height: 0;
    padding: 12px;
    width: 0;
}
img[src="//theme.webme.com/smiles/tongue.gif"] {
    background: rgba(0, 0, 0, 0) url("http://i45.tinypic.com/33fdf6p.jpg") no-repeat scroll -24px -48px;
    height: 0;
    padding: 12px;
    width: 0;
}
img[src="//theme.webme.com/smiles/undecided.gif"] {
    background: rgba(0, 0, 0, 0) url("http://i45.tinypic.com/33fdf6p.jpg") no-repeat scroll -48px -48px;
    height: 0;
    padding: 12px;
    width: 0;
}
img[src="//theme.webme.com/smiles/cry.gif"] {
    background: rgba(0, 0, 0, 0) url("http://i45.tinypic.com/33fdf6p.jpg") no-repeat scroll -72px -48px;
    height: 0;
    padding: 12px;
    width: 0;
}

