#ad-c4ca br {
		display: none;
}
li.nav_element{display: none;}
li.nav_element a{display: none;}
h1#title{display: none;}
/*h2#title span {display: none;}*/
div.header{display: none;}
/*li.nav_element{list-style-type: none;}*/
/*li.nav_element{display: none;}*/
title{background-color:#544445;}
body{margin:0px;padding:0px;border-spacing:0px;text-align:center; 
background-color:#586655;font-family:sans-serif; font-size:10pt;border-spacing:0px; height:100%;}
a {color: yellow; decoration:none;}
a:active{color: yellow; decoration:none;}
a:visited{color: yellow; decoration:none;}
a:hover{color: yellow; decoration:none;}

#divStruct{width:1000px;height:100%;text-align:center;margin:0px auto;
           background-color:#655566;}
#divHead{width:100%;height:100px;}
#imgTitle{width:100%;vertical-align:top;}
#divLine{width:100%;vertical-align:top;border:none;background-color:#667B99;height:31px;
         background-image: url(http://i53.tinypic.com/292lbuv.jpg);background-repeat: 

repeat-x;}

#divBody{width:100%;height:100%;text-align:left;float:left;margin:0px;background-color:#444444;min

-height:400px;}
#divLeftBar{width:14%;height:100%;background-color:#444444;float:left;
            text-align:left;/*padding-left:5px;*//*margin:0px;*/vertical-align:top;}

#container{width:69%;height:100%;float:left;
            text-align:center;vertical-align:top;margin:0px;padding-left:5px;
            padding-right:5px;color:#ffffff;background-color:#383838; min-height:400px;}
#content_container {width:100%;height:92%;text-align:center;vertical-align:top;min-height:400px;}
#content{width:90%;height:99%;text-align:left;vertical-align:top;margin:auto;min-height:400px;colo

r:#ffffff;}

#divRightBar{width:16%;height:100%;background-color:#444444;float:right;
            text-align:left;/*padding-left:5px;*//*margin:0px;*/vertical-align:top;}

/******************menu******************************/
#divMenu {height:100%; position:relative;width:135px;margin:3px auto;vertical-align:top;
           text-align:center;}
#divMenu div a {display:block; width:100%;height:30px; }
#divMenu div a:visited {color:#E9EEF6;text-decoration:none;}
#divMenu div a:hover{color:#E9EEF6;text-decoration:none;}
#divMenu div a:active{color:#E9EEF6;text-decoration:none;}

.divMenuItem1{width:100%;height:30px;vertical-align:top;
color:#ffffff;margin-bottom:2px;
background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat;background-position: 0px 0px;}

.divMenuItem2{cursor:default;width:100%;height:30px; 
color:#ffffff;margin-bottom:2px;vertical-align:top;
background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat;background-position: 0px -30px;}

.divMenuItem3{width:100%;height:30px; 
color:#ffffff;margin-bottom:2px;vertical-align:top;
background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat;background-position: 0px -60px;}

.divMenuItem4{width:100%;height:30px; 
color:#ffffff;margin-bottom:2px;vertical-align:top;
background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat;background-position: 0px -90px;}

.divMenuItem5{width:100%;height:30px; 
color:#ffffff;margin-bottom:2px;vertical-align:top;
background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat;background-position: 0px -120px;}

.divMenuItem2 
a:hover{cursor:pointer;background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat;background-position: -135px -30px;}

.divMenuItem1 a:hover{background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat;background-position: -135px 0px;}

.divMenuItem3 a:hover{background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat;background-position: -135px -60px;}

.divMenuItem4 a:hover{background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat;background-position: -135px -90px;}

.divMenuItem5 a:hover{background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat;background-position: -135px -120px;}

/*******************end divMenu*************************/

#divOtherThings {width:135px;height:100%; margin:3px 
auto;background-color:#444444;vertical-align:top;text-align:center;}

.divOtherItemHead1{width:100%;height:30px; color:#ffffff;float:left;margin:0px auto;
vertical-align:top;background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat;background-position: -270px 30px;}/*clock*/

.divOtherItemHead2{width:100%;height:30px; color:#ffffff;float:left;margin:0px auto;
vertical-align:top;background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat;

background-position: -270px 0px;}/*youtube*/

.divOtherItem{width:100%;float:left;margin:0px auto; 
 vertical-align:top;background-color:#555555;color:#000000; }
.divOtherItem a:hover{font-size:13pt;}
.divOtherItem a {text-decoration:none; color:yellow;}



/*********submenu seasons*********************/


#subMenuSeasons{display:none;position:absolute;top:32px;left:138px;width:135px;height:35
2px;background-color:#444444;margin:0px; padding:0px;}

.divSeasonsItem1{width:100%;height:30px; 
 color:#ffffff;float:left;margin-bottom:2px;vertical-align:top;
 background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat; background-position: 0px -150px;}

.divSeasonsItem2{width:100%;height:30px; 
 color:#ffffff;float:left;margin-bottom:2px;vertical-align:top;
 background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat; background-position: 0px -180px;}

.divSeasonsItem3{width:100%;height:30px; 
 color:#ffffff;float:left;margin-bottom:2px;vertical-align:top;
 background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat; background-position: 0px -210px;}

.divSeasonsItem4{width:100%;height:30px; 
 color:#ffffff;float:left;margin-bottom:2px;vertical-align:top;
 background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat; background-position: 0px -240px;}

.divSeasonsItem5{width:100%;height:30px; 
 color:#ffffff;float:left;margin-bottom:2px;vertical-align:top;
 background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat; background-position: 0px -270px;}

.divSeasonsItem6{width:100%;height:30px; 
 color:#ffffff;float:left;margin-bottom:2px;vertical-align:top;
 background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat; background-position: 0px -300px;}

.divSeasonsItem7{width:100%;height:30px; 
 color:#ffffff;float:left;margin-bottom:2px;vertical-align:top;
 background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat; background-position: 0px -330px;}

.divSeasonsItem8{width:100%;height:30px; 
 color:#ffffff;float:left;margin-bottom:2px;vertical-align:top;
 background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat; background-position: 0px -360px;}

.divSeasonsItem9{width:100%;height:30px; 
 color:#ffffff;float:left;margin-bottom:2px;vertical-align:top;
 background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat; background-position: 0px -390px;}

.divSeasonsItem10{width:100%;height:30px;color:#ffffff;
float:left;margin-bottom:2px;vertical-align:top;
 background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat; background-position: 0px -420px;}

.divSeasonsItem11{width:100%;height:30px; 
 color:#ffffff;float:left;margin-bottom:2px;vertical-align:top;
 background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat; 
background-position: 0px -450px;}

.divSeasonsItem1 a:hover{background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat;background-position: -135px -150px;}

.divSeasonsItem2 a:hover{background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat;background-position: -135px -180px;}

.divSeasonsItem3 a:hover{background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat;background-position: -135px -210px;}

.divSeasonsItem4 a:hover{background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat;background-position: -135px -240px;}

.divSeasonsItem5 a:hover{background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat; background-position: -135px -270px;}

.divSeasonsItem6 a:hover{background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat; background-position: -135px -300px;}

.divSeasonsItem7 a:hover{background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat;background-position: -135px -330px;}

.divSeasonsItem8 a:hover{background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat;background-position: -135px -360px;}

.divSeasonsItem9 a:hover{background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat;background-position: -135px -390px;}

.divSeasonsItem10 a:hover{background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat; background-position: -135px -420px;}

.divSeasonsItem11 a:hover{background-image:url(http://i47.tinypic.com/8y5ce9.jpg);background-repeat:no-repeat;background-position: -135px -450px;}

/************end submenuseasons****************/

#counter{text-align:center;height:20px;background-color:#564545; 

background-image:url(http://i51.tinypic.com/99l1r9.jpg); background-repeat:repeat-x; 

margin-top:5px; color:black;}
		
			
#divFoot {width:100%;height:30px; 

color:#FFFF00;float:left;margin:0px;background-color:#555555;}

/***Page Style***/

.divPage {text-align: center; font-family: verdana; color: rgb(255, 255, 255); font-size: 12px;}
    .divList {padding-left: 170px;}
    .pEpisodeName {color:#ffffff;}
    .divList ul {list-style: decimal outside none; text-align: left;}
    .divList ul li div a {color: rgb(255, 255, 0); text-decoration: none;}
    .divList ul li div a:first-child {color: rgb(255, 0, 0); text-decoration: none;}
    .aSubtitles {color: rgb(255, 0, 0) !important;}
    .NoUploaded {color: rgb(255, 0, 0) !important;}
    .pNote {text-align: left;}
/*******************/


#extraDiv1{display:none;}
#extraDiv2{display:none;}
#extraDiv3{display:none;}
#extraDiv4{display:none;}
#extraDiv5{display:none;}
#extraDiv6{display:none;}
#webme_sky_ad{top:466px;right:1px;left:840px;}
#webme_footer_textlink_dont_hide {
color: white;
background-color:#555555;
} 
